.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 400px;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid blue;
}

.label {
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  outline: none;
}

.btn {
  background-color: gray;
  color: black;
}
